$enable-rounded: false;

@import '~bootstrap/scss/bootstrap';

.description {
  @extend .m-0, .text-muted, .font-italic;
}

.progress {
  height: .2rem;
}

.progress-bar {
  background: #444;
}

label {
  display: block;
}

.form-control {
  @extend .bg-light;
  padding: 6px 12px;
  height: auto;
  border-color: #e4e4e4;
  border-width: 2px;
}
